absl-py
altgraph
asgiref
astunparse
atomicwrites
backports.weakref
bcrypt
blinker
certifi
charset-normalizer
click
colorama
daal
daal4py
Django
docstring-to-markdown
et-xmlfile
Flask
Flask-Bcrypt
Flask-Login
Flask-MySQLdb
Flask-SQLAlchemy
Flask-WTF
flaskwebgui
flatbuffers
fonttools
gast
google-pasta
greenlet
grpcio
h5py
idna
inflection
itsdangerous
jedi
Jinja2
jsonpointer
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
munkres
mysql-connector
mysql-connector-python
mysql-connector-python-rf
mysqlclient # No specified version to due some dependancy issues with ubuntu and presumably other linux distros
names
namex
numpy
openpyxl
opt-einsum
optree
packaging
parso
patsy
pefile
pep8
pluggy
ply
protobuf
psutil
pyasn1
pyasn1_modules
PyDispatcher
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyls-spyder
PyMySQL
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQtWebEngine
PyQtWebEngine-Qt5
python-lsp-jsonrpc
python-lsp-server
pywin32-ctypes
requests
requests-mock
rich
scipy
scrypt
setuptools
six
SQLAlchemy
sqlparse
tbb
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
typing_extensions
tzdata
ujson
urllib3
webencodings
Werkzeug
wheel
wrapt
WTForms
