{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}
{% block content %}
    <style>
        .container {
            margin-top: 100px;
            width: 1000px;
        }

        a {
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <div class="container">
        {#        Display errors here#}
        <h1>Admin Login</h1>
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <a href="{{ url_for('voter_login') }}">Are you perhaps a Voter?</a>
            <br>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px">Submit</button>
        </form>
    </div>
{% endblock %}