{% extends 'base_admin.html' %} {% block title %} Dashboard {% endblock %} {% block content %}
    <style>
        .container {
            margin-left: 120px;
        }
    </style>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Voting Statistics</h5>
                        </div>
                        <div class="card-body">
                            <!-- Display statistics such as total votes, voter turnout, etc. -->
                            <p>Total Votes: {{ total_votes }}</p>
                            <p>Voter Turnout: {{ voter_turnout }}%</p>
                            <p>Top Voted Candidates:</p>
                            <ul>
                                {% for candidate in top_candidates %}
                                    <li>
                                        {{ candidate['firstname'] }} {{ candidate['lastname'] }} - Votes
                                        Count: {{ candidate['votes_count'] }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Recent Activities</h5>
                        </div>
                        <div class="card-body">
                            <!-- Display recent activities related to the voting process -->
                            <ul class="list-group">
                                <li class="list-group-item">Voter John Doe cast a vote</li>
                                <li class="list-group-item">
                                    New candidate registered - Candidate X
                                </li>
                                <li class="list-group-item">Voter Mary Smith updated her vote</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Voting Controls</h5>
                        </div>
                        <div class="card-body" style="display: inline-flex; gap: 5px;">
                            <!-- Provide controls for managing the voting process -->
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">Create New Voting Session
                            </button>
                            <a href="{{ url_for('start_session') }}" class="btn btn-primary">Start Voting Session</a>
                            <a href="{{ url_for('end_session') }}" class="btn btn-danger">End Current Voting Session</a>
                            <form method="POST" action="{{ url_for('admin_dashboard') }}">
                                <button type="submit" class="btn btn-warning" name="reset_votes">Reset Votes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title " id="exampleModalLabel">Create Voting Session</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('create_session') }}" method="POST">
                            <!-- names -->
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Election Title"
                                           aria-label="Election Title"
                                           name="election_title">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Create Session</button>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
