{% extends 'base_voter.html' %}
{% block title %}Ballot{% endblock %}
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class="text-center">Elections</h1>
        <h1 class="text-center">Thank You! <br>You have already voted in this election</h1>
    </div>
{% endblock %}