<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        form {
            width: 500px;
        }
    </style>

    <title>Edit Voter</title>
</head>

<body>

    <div class="container">
        <form action="/editvoter" method="POST" class="mx-auto">
            <h1 class="text-center">Edit Voter</h1>

            <!-- Hidden input field to store voter ID -->
            <input type="hidden" name="id" value="{{ voter.id }}">

            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="firstname" value="{{ voter.firstname }}" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="lastname" value="{{ voter.lastname }}" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Voter ID" aria-label="Voter ID" name="voter_id" value="{{ voter.voters_id }}" required>
                </div>
            </div>

            <button class="btn btn-success">Update</button>
        </form>
    </div>
</body>

</html>
