{% extends 'base_admin.html' %}
{% block title %}
	Dashboard
{% endblock %}
{% block content %}
{#<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Candidate</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>#}
    <style>
        .container {
            margin-top: 100px;
            width: 1000px;
        }

        a {
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <div class="container mt-5">
        <form action="/editcandidate" method="POST" enctype="multipart/form-data">
            <a class="back" onclick="history.back()">&#8249; Back</a>
            <h1 class="mb-4">Edit Candidate</h1>
            <input type="hidden" name="id" value="{{ candidate.id }}">
            <div class="form-group">
                <label for="firstname">First Name:</label>
                <input type="text" class="form-control" id="firstname" name="firstname" value="{{ candidate.firstname }}" required>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <input type="text" class="form-control" id="lastname" name="lastname" value="{{ candidate.lastname }}" required>
            </div>
            <div class="form-group">
                <label for="positionid">Position:</label>
                <select class="form-control" id="positionid" name="positionid" required>
                    <option value="" {% if not candidate.position_id %} selected {% endif %}>- Select -</option>
                    {% for position in positions %}
                        <option value="{{ position.id }}" {% if position.id == candidate.position_id %} selected {% endif %}>{{ position.description }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <label for="platform">Platform:</label>
                <textarea class="form-control" id="platform" name="platform" rows="4" cols="50">{{ candidate.platform }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update Candidate</button>
        </form>
    </div>
{% endblock %}

