{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <button class="btn btn-primary" type="button" onclick="">Create New Position</button>
        <br>
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th scope="col">Position</th>
                <th scope="col">Maximum Votes</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for position in positions %}
                <tr>
                    <td>{{ position['description'] }}</td>
                    <td>{{ position['max_vote'] }}</td>
                    <td>
                        {#<form method="post" style="display: inline-block">
                            <input type="hidden" value="{{ position['id'] }}" name="position_id">
                            <input type="hidden" value="{{ position['description'] }}" name="position_name">
                            <input type="hidden" value="{{ position['max_vote'] }}" name="max_votes">
                            <button class="btn btn-outline-primary" type="submit">Edit</button>
                        </form>
                        <form method="post" style="display: inline-block" action="/delete_position">
                            <input type="hidden" value="{{ position['id'] }}" name="position_id">
                            <button class="btn btn-outline-danger" type="submit">Delete</button>
                        </form>#}
                        <a class="btn btn-outline-primary"
                           href='{{ url_for("position_update", position_id=position["id"]) }}'>Edit</a>
                        <a class="btn btn-outline-danger"
                           href='{{ url_for("position_delete", position_id=position["id"]) }}'>Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
