{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <button class="btn btn-primary" type="button" onclick="">Create New Position</button>
        <br>
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th scope="col">Position</th>
                <th scope="col">Maximum Votes</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for position in positions %}
                <tr>
                    <td>{{ position['description'] }}</td>
                    <td>{{ position['max_vote'] }}</td>
                    <td>
                        <button>Edit</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}