{% extends 'base_admin.html' %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    <style>
        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        form {
            max-width: 500px;
            border: 1px solid;
            box-shadow: 0px 0px 10px black;
            border-radius: 10px;
        }
    </style>
    <div class="container">
        <form class="mx-auto px-3 py-4" action="" method="POST">
            <h1 class="text-center">Registration</h1>
            <!-- Display errors if any -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="row g-3 mb-3">
                <!-- First name -->
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name"
                           name="fname" value="{{ form_data.fname }}">
                </div>
                <!-- Last name -->
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="lname"
                           value="{{ form_data.lname }}">
                </div>
            </div>
            <!-- Student year -->
            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Student Year" aria-label="Last name"
                           name="student_year" value="{{ form_data.student_year }}">
                </div>
            </div>
            <!-- Gender -->
            <div class="row mb-3">
                <select class="" name="gender" id="" style="width: 100px; margin-left: 12px; ">
                    <option value="male" {% if form_data.gender=='male' %} selected {% endif %}>Male</option>
                    <option value="female" {% if form_data.gender=='female' %} selected {% endif %}>Female</option>
                </select>
            </div>
            <!-- Email -->
            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Email" name="email" aria-label="Email"
                           value="{{ form_data.email }}">
                </div>
            </div>
            <!-- Password -->
            <div class="row mb-3">
                <div class="col">
                    <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                           name="pass1">
                </div>
            </div>
            <!-- Confirm Password -->
            <div class="row mb-3">
                <div class="col">
                    <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Last name"
                           name="pass2">
                </div>
            </div>
            <button class="btn btn-primary col-12">Register</button>
            <div class="row text-center">
                <p><strong>Already have an account <a href="./login.html">Login</a></strong></p>
            </div>
        </form>
    </div>
{% endblock %}