{% extends 'base_voter.html' %}

{% block title %}
    Voter Login
{% endblock %}
{% block content %}
    <style>
        .container {
            margin-top: 100px;
            width: 1000px;
        }

        a {
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Voter Login</h1>
        <form method="post">
            <div class="mb-3">
                <label for="voters_id" class="form-label">Voter's ID</label>
                <input type="text" class="form-control" id="voters_id" name="voters_id">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <a href="{{ url_for('admin_login') }}">Are you perhaps an Administrator?</a>
            <br>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px">Submit</button>
        </form>
    </div>
{% endblock %}